@import "../../../_variables.scss";

.detail-img{
  height: 400px;
}

.tag{
  background-color: $lightBgColor;
  text-align: center;
  margin: 0 8px;
  padding: 8px ;
}
.image-torrent{
  width: 20px;
  height: 20px;
}

